<h3> Oi! </h3>
<p>
Parece que você solicitou uma recuperação da sua senha. Caso queira prosseguir, clique no link abaixo!
</p>
<p>
    <a href={{url}}> {{url}} </a>
<p>
<p>
    Caso não tenha sido você, por favor descarte o e-mail.
<p> 