Olá, {{ user.name }}
O projeto {{project.title}} foi criado! Atualmente, ele está com o status <b>{{project.status}}</b>, mas você receberá e-mails sempre que houver uma atualização.
Atenciosamente,
Plataforma Unificada de Metodologia Ativa - PUMA. 