<h2> Olá, {{ name }} </h2>
<p>
  Seja bem vindo à plataforma PUMA! por favor, confirme seu endereço de email clicando no link abaixo.
</p>
<p>
    <a href={{ url }}> {{ url }} </a>
<p> 
Atenciosamente,
Plataforma Unificada de Metodologia Ativa - PUMA.
    